.container-tasklist {
  margin: 2rem;
  border-radius: 20px;
  background-image: linear-gradient(
    160deg,
    rgba(0, 128, 0, 0.05),
    rgba(0, 128, 0, 0.15)
  );
  padding: 1rem 3rem;
}

.button-checkbox {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 18px;
  padding-right: 0.75rem;
  padding-left: -0rem;
}

.button-delete-task {
  padding-left: 0.5rem;
  color: transparent;
  background-color: transparent;
  border: none;
}

.button-delete-task:hover {
  color: tomato;
  cursor: pointer;
  transition: 0.5s;
}
